<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>About me</h1>

        </div>
    </header>
    <main>
        <div class="container">
            <p>My Campus App username is @Wanjirutode and I am an android developer who's venturing to backend development with NodeJs</p>
            <a href="/">Go back to the home page</a>
        
        </div>
        <footer>
            <div class="container">&copy; Stackup Introduction to Back End Programming with NodeJs</div>
        </footer>
    </main>
</body>
</html>